Repository codesupport/resources-api, pull requests merged in 2020-01, with the labels that each got.

#6 Add Icons category
  categories/icons.json
Labels: category: icons, enhancement

#8 Begin adding some Python resources
  categories/python.json
Labels: category: python

#9 Begin adding some language agnostic tools
  categories/useful-programs.json
Labels: category: python

#10 Renamed useful-programs to software.
  categories/software.json
Labels: category: software

#12 Fixed formatting.
  categories/hosting.json
Labels: category: hosting

#13 Removed ,
  categories/csharp.json
Labels: category: csharp

#14 Add JSON linting.
  .github/workflows/main.yml
Labels: enhancement

#15 Added Google Fonts.
  categories/fonts.json
Labels: category: fonts

#17 Added a bunch of resources
  categories/hosting.json
  categories/icons.json
  categories/javascript.json
  categories/software.json
  categories/ui.json
Labels: category: hosting, category: icons, category: javascript, category: software, category: ui
